/* Estilos generales de la barra superior */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fd9200;
	color: #fff;
	
	padding: 10px 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	/* Add a subtle box shadow */
}

/* Estilos para el logo circular */
.circular-logo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #fff;
	/* Add a white border */
}

.circular-logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Estilos para la barra de búsqueda */
.search-bar {
	flex: 1;
	position: relative;
	width: 600px; /* Modifica el ancho del search-bar según tu preferencia */
	height: 30px; /* Modifica la altura del search-bar según tu preferencia */
  }
  
  .search-bar input[type="text"] {
	padding: 5px;
	width: 100%;
	height: 100%; /* Ajusta el alto del input para ocupar el tamaño del contenedor */
	border: none;
	border-radius: 10px;
	background-color: #fff;
	color: #000; /* Cambia el color del texto para mejor visibilidad */
	outline: none;
  }
  

/* Estilos para los iconos circulares */
.for-sale {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.for-sale img {
	width: 45px; /* Reducir el tamaño del icono */
    height: 45px;;
	object-fit: cover;
}

/* Estilos para los iconos circulares */
.shopping-cart {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 20px;
}

.shopping-cart img {
	width: 45px; /* Reducir el tamaño del icono */
    height: 45px;
}

.profile-picture {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 30px;
	border: 2px solid #fff; /* Añadir un borde blanco */
  }
  
  .profile-picture img {
	width: 25px; /* Reducir el tamaño de la imagen */
	height: 25px;
  }
  
  /* ... (otros estilos) ... */
  
  /* Añade efecto de cursor al hacer hover en estos elementos */
  .for-sale:hover,
  .shopping-cart:hover,
  .circular-logo:hover,
  .profile-picture:hover {
	cursor: pointer;
  }

/* styles.css */
.input-text {
	font-size: 26px;
	/* Tamaño de fuente más grande */
}